
<html>
<body>
	<p>
		Sucess you have went to this page because the form was valid

	</p>

	<br>
	<p>Your Name is: <h1> @ViewData["Name"]</h1></p>
	<br>
	<p>your email is: <h1>@ViewData["Email"]</h1></p>
	<br>
	<p>Your Message that you have typed: <h1> @ViewData["Message"]</h1></p>
</body>
</html>